<div id="resume">
  {{> basics }}
  {{> skills }}
  {{> projects }}
  {{> work }}
  {{> volunteer }}
  {{> education }}
  {{> awards }}
  {{> certificates }}
  {{> publications }}
  {{> languages }}
  {{> interests }}
  {{> references }}
</div>
